@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
div.dice {
    font-family: "Pacifico" cursive;
    float: left;
    width:32px;
    background:#F5F5F5;
    border:#999 1px solid;
    padding:10px;
    font-size:24px;
    text-align:center;
    margin:5px;
    box-shadow: 5px 5px 5px black;
}
button {
    border-radius: 50%;
    font-size: 24px;
    background-color: red;
    padding: 20px;
    position: relative;
    left: 20px;
    outline: none;
}
.chart {
    height: 1em;
    background-color: salmon;
    border: 1px solid black;    
}